/* Body */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Header */
.sitioWeb {
    background-color: #1D7DEF;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: auto;
    padding-left: 0px !important;
    padding-right: 0px !important;

}
.tituloWeb {
    font-family: 'Fredoka One', cursive;
    text-align: center;
    color: white;
    font-size: 4rem;
    padding-top: 2rem;
}

.nViajes {
    font-family: 'Red Hat Display', sans-serif;
    margin-left: 2rem;
}

/* icono perfil y nombre usuario */
.icono {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    padding-bottom: 0.5rem;
}
.icon {
    width: 80px;
    padding-right: 2rem;
}

.userBienvenida {
    font-size: 1.2rem;
    color: white;
    padding-top: 1.8rem;
    padding-right: 1rem;
}

/* NAVBAR */
.bg-light {
    background-color: #1D7DEF !important;
}

.navbar-light .navbar-brand {
    padding-right: 40px;
}

.nav-item {
    padding-right: 5rem;
    padding-left: 5rem;
}

/* item MENU */
.navbar-light .navbar-brand {
    color: white;
    font-size: 1.2rem;
    padding-left: 2rem;
}
/* items secciones */
.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 1.2rem;
}

/*
Login
.bienvenidos {
    font-family: 'Fredoka One', cursive;
    font-size: 25px;
    text-align: center;
    padding-top: 4rem;
    color: rgb(76, 75, 75);
    padding-bottom: 3rem;
}

.botonRegistro {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 8rem;
}

                            /* Modal */
/* .btn-primary {
    background-color: #56baed !important;
    border-color:#56baed !important;
}

.modal-body {
  text-align: center;
  height: ;
} */

/* Form inicio de sesion */
/* BASIC */
/* 
.underlineHover {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

h3 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px; 
  color: #bababa;
} */

/* STRUCTURE */
/* .wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
} */

/* TABS */
/* h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
} */

/* FORM TYPOGRAPHY*/

/* input[type=button], input[type=submit], input[type=reset]  {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #39ace7;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=text] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder {
  color: #cccccc;
}

/* ANIMATIONS */
/* .fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
} */

/* Simple CSS3 Fade-in Animation */
/* @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}  */

/* Simple CSS3 Fade-in Animation */
/* .underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
} */

/* OTHERS */
/* *:focus {
    outline: none;
} 

* {
  box-sizing: border-box;
} */







/* CARUSEL */

::-webkit-scrollbar {
    background: #d4d4d4;
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

/* CARUSEL */

::-webkit-scrollbar {
    background: #d4d4d4;
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

/* Carousel */
#carousel {
    width: 100%;
    height: 80%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.carousel {
    overflow-x: scroll;
}

#carousel .gallery {
    display: flex;
    flex-direction: row;
    width: 2500px;
    height: 30vh;
}

#carousel .item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;
}

#carousel .item:hover {
    flex: 8%;
}

/*imágenes carrusel*/

#carousel .item-1 {
    background-image: url('../img/1.jpg');
}

#carousel .item-2 {
    background-image: url('../img/2.jpg');
}

#carousel .item-3 {
    background-image: url('../img/3.jpg');
}

#carousel .item-4 {
    background-image: url('../img/4.jpg');
}

#carousel .item-5 {
    background-image: url('../img/5.jpg');
}

#carousel .item-6 {
    background-image: url('../img/6.jpg');
}

#carousel .item-7 {
    background-image: url('../img/7.jpg');
}

#carousel .item-8 {
    background-image: url('../img/8.jpg');
}

#carousel .item-9 {
    background-image: url('../img/9.jpg')
}

#carousel .item-10 {
    background-image: url('../img/10.jpg');
}

#carousel .item-11 {
    background-image: url('../img/11.jpg');
}

#carousel .item-12 {
    background-image: url('../img/12.jpg');
}

#carousel .item-13 {
    background-image: url('../img/13.jpg');
}

#carousel .item-14 {
    background-image: url('../img/14.jpg');
}

.gallery .item:hover {
    cursor: pointer;
}

.pIndex {
    color: #134A73;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

/* Cards trip */

#cards-trip {
    margin: 20px;
}


/* Formulario para armar viajes */

.formulario-bg {
    background-image: url(../img/purmamarca.JPG);
    height: 35rem;
    background-size: cover;
    background-repeat: no-repeat;
    border: 4px solid #1D7DEF;
}

.formulario {
    background-color: #ffffff;
    margin: -5rem auto 0 auto;
    width: 80%;
    padding: 5rem;
    font-size: 1.4rem;
    color: rgb(107, 138, 242);
    font-family: 'Red Hat Display', sans-serif;
}

.campo {
    border: 2px solid #1D7DEF;
    font-size: 1.2rem;
}

@media (max-width:700px) {
    .formulario-bg {
        height: 25rem;
    }
}

@media (max-width:700px) {
    .formulario {
        font-size: 1.2rem;
    }
}

@media (max-width:700px) {
    .campo {
        font-size: .9rem;
    }
}

@media (max-width:700px) {
    .btn-primary {
        margin: auto 2.7rem;
    }
}


/* Footer */

.card {
    padding-top: 3rem;
    margin: 1rem;
}

.card-header {
    background-color: transparent;
    color: #000000;
}

.card-body img {
    width: 1.5rem;
    margin-bottom: 0.5rem;
}


/* mis viajes perfil*/

.viaje {
    background-color: #1D7DEF;
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
}

.data-name {
    color: #CCE5FC;
    font-size: 13px;
    font-weight: lighter;
}

.data-value {
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.list-item {
    margin-bottom: 0.5rem;
}